streamlit==1.37.1
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
mysql-connector-python
pandas
numpy==1.26.4
scikit-learn
matplotlib
protobuf==4.25.3
streamlit-webrtc==0.47.7
av==11.0.0
